.free-delivery {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #111;
  
  &__btn {
    position: absolute;
    right: 40px;
    top: 50%;
    z-index: 120;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #fff;
      object-fit: cover;
    }

    @include xs {
      display: none;
    }
  }

  @include xs {
    font-size: 8px;
  
  }
}

.catalog-content {
  position: relative;

  .container {
    display: flex;

    @include sm {
      flex-direction: column;
    }
  }
}

.catalog-filters {
  flex-shrink: 0;
  margin-right: 30px;
  padding-top: 27px;
  padding-right: 62px;
  width: 309px;

  @include md {
    width: 35%;
  }

  @include sm {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    background-color: var(--color-white);
    padding: 20px 40px;
    margin-top: 100px;
  }

  &--active {
    display: block;
  }
}

.filters-open-mobile {
  display: none;
  margin-bottom: 18px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 17px;
  background-image: url(../img/filter.png);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;

  @include sm {
    display: block;
  }
}

.hide-filters {
  margin-bottom: 18px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background-image: url("../img/cross.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {

  border-top: 1px solid #eee;

  &--open {
    .catalog-filter__bottom {
      display: block;
    }
    
    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }
  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
  }
  
  &__bottom {
    display: none;
    padding-bottom: 34px;
  }
  
  &__caption {
    display: flex;
    align-items: center;
  }
  
  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }
  
  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
    
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      color: #aaa;
      background-color: currentColor;
      transform: translateX(-50%);
    }
    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      color: #aaa;
      transform: translateY(-50%);
    }
  }
  
  &__items {
    columns: 2;

    &--column {
        columns: 1;
    }
  }
  
  &__item {
    margin-bottom: 14px;
      
    &:nth-child(5n) {
        margin-bottom: 0;
      }
    }
    
  &:last-child {
    border-bottom: 1px solid #eee;
  }

}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  
  &__text {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    color: var(--color-grey);
    transition: color 0.3s;

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;
    }
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }
    
    &::after {
      content: '';
      position: absolute;
      left: 2px;
      top: 0;
      color: #aaa;
      
    }
  }
  
  &__input {
    &:checked + span {
      color: #151515;
      
      &::before {
        border-color: var(--color-dark);  
      }
      &::after {
        content: '\2713';
        color: var(--color-dark);  
      }
    }
  }
}


.catalog-grid {
  padding-top: 25px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 73.3px;

    @include md {
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 50px;
  }

  .product .product__image {
    // max-width: 224px;
    // max-height: 282px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
}

[data-grid-columns="3"] {
  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)){
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}

[data-grid-columns="4"] {
  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)){
      margin-right: 3%;
      @include md {
        margin-right: 0;
      }
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }

    @include md {
      width: 48%;
    }
  }
}

[data-grid-columns="5"] {
  .catalog-grid__item {
    width: 17.6%;

    &:not(:nth-child(5n)){
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}


.catalog-props {
  margin-bottom: 12px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include sm {
      padding-top: 12.5px;
    }
  }
 
}

.catalog-columns {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 3px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-dark);
  }
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  
  &__btn {
    padding: 0 5px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-grey);

    &:hover {
      color: var(--color-dark);
    }

    &--current {
      color: var(--color-dark); 

      &::before {
        opacity: 1;
      }
    }

    
  }

  @include md {
    display: none;
  }
}

.catalog-choice {
  display: none;
  font-size: 0;
  
  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 5px 15px;
    font-size: 13px;
    background-color: #eee;
    transition: color 0.3s, background-color 0.3s;
    
    
    svg {
      margin-left: 5px;
      width: 8px;
      height: 9px;
      fill: currentColor;
      pointer-events: none;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }

  &__clear {
    position: relative;
    font-size: 13px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 1;
    }
  }
}

.custom-select {
  position: relative;
  min-width: 150px;

  &__top {
    position: relative;
    border-bottom: 1px solid #e5e5e7;
    padding-right: 32px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
  
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      width: 10px;
      height: 6px;
      background-image: url('../img/arrow-down.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s;
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 50;
    display: none;
    padding: 10px;
    width: 100%;
    background-color: var(--color-white);
  }

  &__item {
    font-size: 13px;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      color: var(--color-tundora);
    }
  }

  &--open {
   
    .custom-select__top {

      &::after {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }
    .custom-select__dropdown {
      display: block;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  &__item {
    transition: border 0.3s, color 0.3s, background-color 0.3s;
    cursor: pointer;
    
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    border: 2px solid #eee;
    padding: 17px;
    height: 40px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-grey);

    svg {
      margin-left: 5px;
      width: 7px;
      height: 16px;
      fill: currentColor;
      
    }

    &--current {
      border: 2px solid var(--color-dark);;
      color: #eee;
      background-color: var(--color-dark);
    }

    &:hover {
      border: 2px solid var(--color-dark);;
      color: #eee;
      background-color: var(--color-dark);
      transition: border 0.3s, color 0.3s, background-color 0.3s;
    }
  }
}

